/*
    header
*/
a.img_link.usericon_cont.whatsapp-icon,
a.img_link.usericon_cont.login-icon,
a.img_link.usericon_cont.account-icon{
	margin: 0px .5em 0px 0px;
}

/*
    gtranslate plugin
*/
.gtranslate_wrapper * {
    font-size: 1em !important; 
}
.gtranslate_wrapper  .gt_float_wrapper{
    top: 5px !important;
    left: 5px !important;
}
.gtranslate_wrapper > .gt_float_wrapper > .gt_float_switcher{
    font-size: 1em !important;
}
.gtranslate_wrapper > .gt_float_wrapper > .gt-selected > .gt-current-lang{
    padding: .5em !important;
}
.gtranslate_wrapper > .gt_float_wrapper > .gt-selected > .gt-current-lang > img{
    width: 1.5em !important;
}
